 .product{
  margin:10px 0 ;
  width: 350px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
 }
 .header{
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
 }
 .resetButton{
  margin-right:25px;
  border: 1px solid gray;
 font-size: large;
 }

 span{
  font-size: x-large;
 }
 .product-main{
  display: flex;
  flex-wrap: wrap;

 }